/* utilities */

.bg-grey-1 {
    background-color: rgb(54, 54, 54);
}

.bg-grey-2 {
   background-color: rgb(31, 31, 31); 
}

.bg-grey-3 {
    background-color: rgb(190, 188, 187);
}

.bg-grey-4 {
    background-color: rgba(220, 222, 224, 0.9);
}

.bg-red {
    background-color: rgb(190, 71, 37);
}

.bg-dark-blue {
    background-color: rgb(22, 29, 57);
}

.bg-light-blue {
    background-color: rgb(0, 67, 156);
}

.font-white {
    color: white;
}

.font-grey {
    color: rgb(130, 130, 130);
}

.font-blue {
    color: rgb(55, 124, 202);
}

.font-blue-2 {
    color: rgb(45, 100, 230);
}

.rounded-4 {
    border-radius: 15px;
}

.py-7 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.opacity-50 {
    filter: opacity(50%);
}

.h-240 {
    height: 240px;
}

.w-20 {
    width: 20%;
}

div.button:hover .btn {
    color: white;
    padding: 2px 8px;
    margin: 2px;
}

div.button:hover {
    border-width: 2px;
    border-style: solid;
    border-radius: 50rem;
}

/* header */

#header-top .img-container {
    width: 100px;
}

#main-nav {
    position: relative;
}

#main-nav .nav-link {
    color: black;
}

#main-nav .nav-link i {
    color: lightgray;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding-left: 3px;
}

#main-nav ul li:hover a,
#main-nav ul li:hover a i {
    color: rgb(45, 100, 230);
}

#main-nav div.button:hover .btn {
    background-color: rgb(54, 54, 54, 0.8);
}

#main-nav div.button:hover {
    border-color: rgb(54, 54, 54, 0.8);
}

#dropdown-menu-right,
#dropdown-menu-left {
    display: none;
}

.ms-dropdown:hover #dropdown-menu-left,
#my-play:hover #dropdown-menu-right {
    display: block;
    position: absolute;
    background-color: white;
    top: 100%;
    right: 0;
}

.shopping {
    border-top: 1px solid rgba(54, 54, 54, 0.5);
}

.shopping ul li {
    display: inline-block;
    list-style-type: none;
}

#dropdown-menu-left .shopping ul li a {
    color: black;
    text-decoration: none;
}

.shopping ul li::before {
    content: "\2022";
    color: rgb(45, 100, 230);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/* jumbotron 1 */

#jumbo-returnal {
    height: 600px;
    margin-top: 100px;
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbo-returnal div.button:hover {
    border-color: rgb(190, 71, 37);
}

/* info ps5 */

.ps-5-active {
    border: 3px solid #0d6efd;
}

.ps-5-active-b {
    border-bottom: 3px solid #0d6efd;
}

#ps-5 img.rounded-4 {
    position: relative;
    top: 0;
    transition: top 200ms linear;
}

#ps-5 img.rounded-4:hover {
    top: -10px;
}

#ps-5 div.button:hover,
#ps-4 div.button:hover {
    border-color: rgb(13, 110, 253);
}

#ps-5 img.opacity-50 {
    transition: filter 200ms linear;
}

#ps-5 img.opacity-50:hover {
    filter: opacity(100%);
}

/* jumbotron 2 */

#jumbo-takes {
    height: 600px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbo-takes div.button:hover {
    border-color: rgb(190, 71, 37);
}

/* jumbotron 3 */

#jumbo-plus div.button:hover .btn {
    color: rgb(45, 100, 230);
    filter: opacity(80%);
    padding: 6px 12px;
    margin: 0;
}

#jumbo-plus div.button:hover {
    border: none;
}

/* jumbotron 4 */

#jumbo-now div.button:hover .btn {
    color: black;
}

#jumbo-now div.button:hover {
    border-color: white;
}

/* footer */

#globe-footer {
    width: 20px;
}

.country span {
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}

footer ul li {
    list-style-type: none;
    line-height: 35px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: underline;
    color: white;
}

footer p a:hover {
    color: white;
}

/* media query */

@media screen and (min-width: 768px) {
    .h-240 {
        height: auto;
    }
}